<form [formGroup]="currencyForm">
  <div class="label">
    <label for="senderAmount">you send</label>
    <input id="senderAmount" formControlName="senderAmount" type="number" />
  </div>
  <div class="flag">
    <mat-form-field class="mat-form-field">
      <mat-select
        id="senderCurrency"
        formControlName="senderCurrency"
        class="mat-select"
      >
        <mat-select-trigger>
          <img
            *ngIf="selectedCurrency"
            [src]="selectedCurrency.flag"
            class="flag-icon"
            alt="Flag"
          />
          {{ selectedCurrency ? selectedCurrency.code : "" }}
        </mat-select-trigger>
        <mat-option
          class="mat-option"
          *ngFor="let currency of currencies"
          [value]="currency.code"
        >
          <img [src]="currency.flag" alt="{{ currency.name }}" />
          {{ currency.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="label2">
    <label for="recipientAmount">Recipient gets</label>
    <input
      id="recipientAmount"
      formControlName="recipientAmount"
      type="number"
      readonly
    />
  </div>
  <div class="flag2">
    <mat-form-field class="mat-form-field">
      <mat-select
        id="recipientCurrency"
        formControlName="recipientCurrency"
        class="mat-select"
      >
        <mat-select-trigger>
          <img
            *ngIf="selectedCurrency"
            [src]="selectedCurrency.flag"
            class="flag-icon"
            alt="Flag"
          />
          {{ selectedCurrency ? selectedCurrency.code : "" }}
        </mat-select-trigger>
        <mat-option
          class="mat-option"
          *ngFor="let currency of currencies"
          [value]="currency.code"
          selected
        >
          <img [src]="currency.flag" alt="{{ currency.name }}" />
          {{ currency.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <section>
    <p class="text-black-50">Delivery Time: By May 20th</p>
    <button class="btn">continue</button>
  </section>
</form>
