<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-medium ps-5" href="#">Speedo Transfer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto me-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Money Transfer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Account</a>
        </li>

        <li class="nav-item ms-3">
          <a class="btn border-black me-auto px-4" href="#" role="button"
            >login</a
          >
        </li>
        <li class="nav-item ms-3 me-2">
          <a
            class="btn text-sm-center"
            href="#"
            role="button"
            id="register-button"
            >Register Now</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="background-image">
  <div class="overlay"></div>
  <div class="overlay-content">
    <p class="fw-medium me-2">Simple. Quick. Secure.</p>
    <h1 class="fw-medium fs-3">Send Money Anywhere, Instantly</h1>

    <h1 class="fw-medium">
      Fast, secure, and affordable international money transfers. Get started in
      minutes.
    </h1>
    <button class="btn text-white btn-lg mt-5">Create An Account</button>
  </div>

  <div class="card-overlay">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">You send</h5>
        <p class="card-text">USD 1000</p>
        <h5 class="card-title">Recipient gets</h5>
        <p class="card-text">EGP 47,488.42</p>
        <p class="card-text">Delivery Time: By May 20th</p>
        <button class="btn text-white btn-sm px-5">Continue</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Getting Started</h3>
    <ol>
      <li>Create Account</li>
      <li>Confirmation</li>
      <li>Payment</li>
    </ol>
  </div>
  <div class="col">
    <h3>Mobile Application</h3>
    <p>Download our app on your mobile phone for service.</p>
  </div>
</div>
