<div class="background-image">
  <div class="overlay"></div>
  <div class="overlay-content">
    <p class="fw-medium">Simple. Quick. Secure.</p>

    <h1 class="fw-medium fs-1">Send Money</h1>
    <br />
    <h1 class="fw-medium fs-1">Anywhere, Instantly</h1>

    <p class="fw-medium">Fast, secure, and affordable international money</p>

    <p class="fw-medium">transfers. Get started in minutes</p>
    <button class="btn text-white btn-sm mt-5" id="createaccount">
      Create An Account
    </button>
  </div>

  <div class="card-overlay">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">You send</h5>
        <input type="text" class="card-text" placeholder="" />
        <button class="sidetoggle">
          <img src="../../assets/Icons(SVG)/DRop down.svg" />
        </button>

        <h5 class="card-title">Recipient gets</h5>
        <input type="text" class="card-text" placeholder="" />
        <button class="sidetoggle">
          <img src="../../assets/Icons(SVG)/DRop down.svg" />
        </button>
        <br />
        <p class="card-text text-black-50">Delivery Time: By May 20th</p>
        <button class="btn text-white btn-sm px-md-5 ms-3" id="continue">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
<div style="padding: 30px 238.78px 0px 238.78px; gap: 0px">
  <p
    style="
      color: hsla(347, 64%, 32%, 1);

      font-size: 15px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
    "
  >
    Getting Started
  </p>
</div>
<div style="padding: 0px, 11.94px, 0px, 11.94px">
  <p style="font-size: 30px; font-weight: 600; text-align: center">
    Lorem Ipsum is simply dummy
  </p>
  <br />
  <p style="font-size: 30px; font-weight: 600; text-align: center">
    text of the printing.
  </p>
</div>
<div class="container text-center ms-5 pt-4">
  <div class="row">
    <div class="col">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          background-color: hsla(348, 29%, 93%, 1);
        "
      >
        <img
          src="../../assets/Vectors/Other/Create Account.svg"
          alt="
        create account"
        />
      </div>
      <h3 style="font-size: 20px; font-weight: 500; line-height: 36px">
        <span
          style="
            color: hsla(347, 64%, 32%, 1);
            font-weight: 600;
            line-height: 36px;
            font-size: 20px;
          "
          >1.</span
        >Create Account
      </h3>
      <p>
        Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
        auctor ut nam sed.
      </p>
    </div>
    <div class="col">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          background-color: hsla(348, 29%, 93%, 1);
        "
      >
        <img
          src="../../assets/Vectors/Other/Confirmation.svg"
          alt="
        create account"
        />
      </div>

      <h3 style="font-size: 20px; font-weight: 500; line-height: 36px">
        <span
          style="
            color: hsla(347, 64%, 32%, 1);
            font-weight: 600;
            line-height: 36px;
            font-size: 20px;
          "
          >2.</span
        >confirmation
      </h3>
      <p>
        Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
        auctor ut nam sed.
      </p>
    </div>

    <div class="col">
      <div class="col">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            background-color: hsla(348, 29%, 93%, 1);
          "
        >
          <img
            src="../../assets/Vectors/Other/Payment.svg"
            alt="
        create account"
          />
        </div>

        <h3 style="font-size: 20px; font-weight: 500; line-height: 36px">
          <span
            style="
              color: hsla(347, 64%, 32%, 1);
              font-weight: 600;
              line-height: 36px;
              font-size: 20px;
            "
            >3.</span
          >Payement
        </h3>
        <p>
          Adipiscing eliId neque mi diam nim etus arcu porta viverra pretium
          auctor ut nam sed.
        </p>
      </div>
    </div>
  </div>
</div>
