nav {
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #3c3a37;
    font-weight: 500;
  }
  .initial {
    border: 1px solid;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 600;
    width: 45px;
    height: 40px;
    text-align: center;
    background-color: #e3e2e2;
    margin-right: 10px;
    border-color: #e3e2e2;
    color: #3c3a37;
  }
}
