<nav class="w-[1490px] h-[80px] fixed top-0 navbar">
  <div class="flex flex-row w-[1440px] h-[65px]">
    <ul class="flex w-[1440px] justify-around">
      <li class="logo p-2 mr-9 font-[600] text-[32px] text-[#24221E]">
        Speedo Transfer
      </li>
      <div class="flex">
        <li class="item"><a routerLink="home">Home</a></li>
        <li class="item"><a href="#">Money Transfer</a></li>
        <li class="item"><a href="#">My Account</a></li>
      </div>
      <li class="item">
        <!-- <div class="initial">{{ getUserInitials() }}</div> -->
        <!-- <a href="#">{{ user1?.fname }} {{ user1?.lname }}</a> -->
      </li>
    </ul>
  </div>
</nav>
