<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="top">
    <p
      style="
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;
        text-align: left;
      "
    >
      Create Your Account
    </p>
    <p
      style="
        font-size: 10px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      "
    >
      Lorem ipsum dolor sit amet consectetur adipiscing elit sed do<span
        >eiusmod tempor incididunt ut labore.</span
      >
    </p>
  </div>
  <div>
    <label for="username">User name</label>
    <input
      id="username"
      formControlName="username"
      type="text"
      placeholder="username"
    />
    <div
      *ngIf="
        registrationForm.get('username')?.invalid &&
        registrationForm.get('username')?.touched
      "
    >
      <small
        *ngIf="registrationForm.get('username')?.hasError('required')"
        class="text-danger"
        >Username is required.</small
      >
      <small
        *ngIf="registrationForm.get('username')?.hasError('minlength')"
        class="text-danger"
        >Username must be at least 8 characters long.</small
      >

      <small
        *ngIf="registrationForm.get('username')?.hasError('nameFormat')"
        class="text-danger"
        >Username must be in the format "FirstName LastName" with each part
        capitalized.</small
      >
    </div>
  </div>

  <div>
    <label for="email">Email address</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      placeholder="email"
    />
    <div
      *ngIf="
        registrationForm.get('email')?.invalid &&
        registrationForm.get('email')?.touched
      "
    >
      <small
        *ngIf="registrationForm.get('email')?.hasError('required')"
        class="text-danger"
        >email is required.</small
      >
      <small
        *ngIf="registrationForm.get('email')?.hasError('email')"
        class="text-danger"
        >please enter a valid email.</small
      >
    </div>
  </div>

  <div>
    <label for="country">Country</label>

    <select id="country" formControlName="country">
      <option value="UK">UK</option>
      <option value="US">US</option>
      <option value="Egupt">Egypt</option>
    </select>
  </div>

  <div formGroupName="dob">
    <label for="dob">Date of birth</label>
    <div class="grid-container">
      <input
        id="day"
        formControlName="day"
        type="text"
        placeholder="DD"
        class="grid_item"
      />
      <select
        required
        id="month"
        formControlName="month"
        type="text"
        placeholder="MM"
        class="grid-item"
        onfocus="this.size=6;"
        onblur="this.size=0;"
        onblur="this.size=0;"
        onchange="this.size=1; this.blur()"
      >
        <option value="" disabled selected>MM</option>
        <option *ngFor="let month of months" [value]="month">
          {{ month }}
        </option>
      </select>

      <select
        required
        id="year"
        formControlName="year"
        type="text"
        class="grid-item"
        class="grid-item"
        onfocus="this.size=6;"
        onblur="this.size=0;"
        onblur="this.size=0;"
        onchange="this.size=1; this.blur()"
      >
        <option value="" disabled selected>YYYY</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
  </div>

  <div class="password">
    <label for="password">Password</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      placeholder="password "
    />
    <div *ngIf="registrationForm.get('password')?.touched">
      <small
        *ngIf="registrationForm.get('password')?.hasError('required')"
        class="text-danger"
        >password is required.</small
      >
      <small
        *ngIf="registrationForm.get('password')?.hasError('minlength')"
        class="text-danger"
        >password must be at least 8 characters</small
      >
    </div>
  </div>

  <div>
    <label for="confirmPassword">Confirm password</label>
    <input
      id="confirmPassword"
      formControlName="confirmPassword"
      type="password"
    />
    <small>
      The password should be at least eight characters long. To make it
      stronger, use upper and lower case letters, numbers, and symbols like ! "
      ? $ % ^ &
    </small>
    <div *ngIf="registrationForm.get('confirmPassword')?.touched">
      <small
        *ngIf="registrationForm.get('confirmPassword')?.hasError('required')"
        class="text-danger"
      >
        Confirm password is required.
      </small>
      <small
        *ngIf="registrationForm.hasError('matchpassword')"
        class="text-danger"
      >
        Passwords mismatched
      </small>
    </div>
  </div>

  <button type="submit" [disabled]="!registrationForm.valid">
    Create Account
  </button>
  <div style="text-align: center">
    <p>Already have an account? <a routerLink="login">Login</a></p>
  </div>
</form>
