<div class="conatiner">
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <img src="../../assets/img/App img.jpg" alt="app image" />
      </div>
      <div class="col">
        <p
          style="
            color: hsla(347, 64%, 32%, 1);

            font-size: 15px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
          "
        >
          Mobile application
        </p>
        <p
          style="
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            text-align: left;
            color: hsla(40, 9%, 13%, 1);
          "
        >
          Download our apps of your mobile phone for service
        </p>
        <p
          style="
            font-size: 20px;
            font-weight: 200;
            line-height: 24px;
            text-align: left;
          "
        >
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy
        </p>
        <section>
          <p>Lorem Ipsum is simply dummy</p>
          <p>Lorem Ipsum is simply dummy text of the printing</p>
          <p>Lorem Ipsum is simply</p>
        </section>
        <div class="images">
          <img
            src="../../assets/Vectors/App/Google icon.svg"
            alt="google icon"
          />
          <img src="../../assets/Vectors/App/IOS icon.svg" alt="iosicon" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p
      style="
        font-size: 25px;
        font-weight: 500;
        line-height: 48px;
        text-align: center;
      "
    >
      speedo transfer
    </p>
    <p
      style="
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
      "
    >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <p
      style="
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
      "
    >
      Contact Info
    </p>
    <div class="contact">
      <span
        style="
          font-family: Roboto;
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
          color: white;
          text-align: center;
        "
        >Email:
        <a
          href="mailto:"
          style="
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;

            color: white;
          "
          >BM00000@Speedo Transfer .com</a
        >
      </span>
    </div>
    <p
      style="
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        padding-top: 1rem;
        text-align: center;
      "
    >
      phone:000
    </p>
    <hr
      style="
        border-top: 1px solid hsla(212, 23%, 84%, 0.3);
        padding-bottom: 1rem;
      "
    />
    <p
      style="
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: center;
      "
    >
      ll Rights Reserved for Speedo Transfer ©2024
    </p>
  </div>
</div>
