* {
  box-sizing: border-box;
  margin: auto;
}

.container {
  background-color: hsla(348, 29%, 93%, 1);
  margin-left: 0;
  max-width: fit-content;
}
img {
  margin-top: 10px;
  max-width: 350px;
  max-height: 350px;
}
section p {
  font-family: "Poppins" sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: hsla(36, 4%, 23%, 1);
}
.footer {
  background-color: hsla(347, 64%, 20%, 1);
}
