<div class="container">
  <div class="container2 text-center">
    <div class="row align-items-start pinkc">
      <div class="col">
        <img src="../../assets/img/App img.jpg" alt="app image" />
      </div>
      <div class="col">
        <p class="style1 mb-3">Mobile application</p>
        <p class="style2 mb-4">
          Download our apps of your mobile phone for service
        </p>
        <p class="style3 mb-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's and typesetting text of
          the printing .
        </p>

        <section>
          <p class="mb-3">
            <i class="fa-regular fa-circle-right text-[#871E35]"></i> Lorem
            Ipsum is simply dummy
          </p>
          <p class="mb-3">
            <i class="fa-regular fa-circle-right text-[#871E35]"></i> Lorem
            Ipsum is simply dummy text of the printing
          </p>
          <p class="mb-3">
            <i class="fa-regular fa-circle-right text-[#871E35]"></i> Lorem
            Ipsum is simply
          </p>
        </section>
        <div class="images">
          <img
            class="inline-block mr-4"
            src="../../assets/Vectors/App/Google icon.svg"
            alt="google icon"
          />
          <img
            class="inline-block mr-3"
            src="../../assets/Vectors/App/IOS icon.svg"
            alt="iosicon"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="style4 pt-6 mb-4">speedo transfer</p>
    <p class="style5 mb-2">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <p class="style6 mb-2">Contact Info</p>
    <div class="contact">
      <span class="style7"
        >Email:
        <a href="mailto:" class="style8">BM00000@Speedo Transfer .com</a>
      </span>
    </div>
    <p class="style9 mb-2">phone:000</p>
    <hr
      style="
        border-top: 1px solid hsla(212, 23%, 84%, 0.3);
        padding-bottom: 1rem;
      "
    />
    <p class="style10">ll Rights Reserved for Speedo Transfer ©2024</p>
  </div>
</div>
