<section
  style="
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
  "
>
  <p>login</p>
  <p
    style="
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
    "
  >
    new account? <a routerLink="register">sign up</a>
  </p>
</section>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="top">
    <p
      style="
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;
        text-align: left;
      "
    >
      login here
    </p>
    <p
      style="
        font-size: 10px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      "
    >
      Welcome back.Login to your account
    </p>
  </div>

  <div>
    <label for="email">Email address</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      placeholder="email"
    />
    <div
      *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
    >
      <small
        *ngIf="loginForm.get('email')?.hasError('required')"
        class="text-danger"
        >email is required.</small
      >
      <small
        *ngIf="loginForm.get('email')?.hasError('email')"
        class="text-danger"
        >please enter a valid email.</small
      >
    </div>
  </div>

  <div class="password">
    <label for="password">Password</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      placeholder="password "
    />
    <div *ngIf="loginForm.get('password')?.touched">
      <small
        *ngIf="loginForm.get('password')?.hasError('required')"
        class="text-danger"
        >password is required.</small
      >
      <small
        *ngIf="loginForm.get('password')?.hasError('minlength')"
        class="text-danger"
        >password must be at least 8 characters</small
      >
    </div>
  </div>

  <button type="submit" [disabled]="!loginForm.valid">login</button>
  <div style="text-align: center">
    <p>Don't have an account <a routerLink="register">register</a></p>
  </div>
</form>
