<div class="currency-dropdown">
  <button (click)="toggleDropdown()">
    <img src="../../assets/Icons(SVG)/DRop down.svg" alt="Dropdown Icon" />
    <img [src]="getFlag(selectedCurrency)" alt="{{ selectedCurrency }}" />
    <span>{{ selectedCurrency }}</span>
  </button>

  <ul class="dropdown-menu" *ngIf="isDropdownOpen">
    <li *ngFor="let currency of currencies">
      <button (click)="selectCurrency(currency.code)">
        <img [src]="currency.flag" alt="{{ currency.name }}" />
        <span>{{ currency.name }}</span>
      </button>
    </li>
  </ul>
</div>
