.currency-dropdown {
  position: relative; /* Position relative to position the dropdown menu */
}

button {
  background-color: rgba(228, 226, 226, 0.574);
  color: rgb(46, 43, 43);
  border: none;
  cursor: pointer;
  padding: 3px;
}

button img {
  margin-right: 8px; /* Adjust as needed */
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000; /* Ensure dropdown is on top */
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu img {
  margin-right: 8px; /* Adjust as needed */
}

.dropdown-menu li:hover {
  background-color: #f0f0f0; /* Highlight color on hover */
}
