<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="top">
    <p
      style="
        font-size: 20px;
        font-weight: 600;
        line-height: 48px;
        text-align: left;
      "
    >
      Create your password
    </p>
    <p
      style="
        font-size: 10px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      "
    >
      Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
      tempor incididunt ut labore.
    </p>
  </div>

  <div class="password">
    <label for="password">Password</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      placeholder="password "
    />
    <div *ngIf="passwordForm.get('password')?.touched">
      <small
        *ngIf="passwordForm.get('password')?.hasError('required')"
        class="text-danger"
        >password is required.</small
      >
      <small
        *ngIf="passwordForm.get('password')?.hasError('minlength')"
        class="text-danger"
        >password must be at least 8 characters</small
      >
    </div>
  </div>

  <div>
    <label for="confirmPassword">Confirm password</label>
    <input
      id="confirmPassword"
      formControlName="confirmPassword"
      type="password"
    />
    <small>
      The password should be at least eight characters long. To make it
      stronger, use upper and lower case letters, numbers, and symbols like ! "
      ? $ % ^ &
    </small>
    <div *ngIf="passwordForm.get('confirmPassword')?.touched">
      <small
        *ngIf="passwordForm.get('confirmPassword')?.hasError('required')"
        class="text-danger"
      >
        Confirm password is required.
      </small>
      <small *ngIf="passwordForm.hasError('matchpassword')" class="text-danger">
        Passwords mismatched
      </small>
    </div>
  </div>

  <button type="submit" [disabled]="!passwordForm.valid">login</button>
  <div style="text-align: center"></div>
</form>
